@model MI.PIMS.BO.Dtos.EPAL_Procedures_V_Dto
@using Kendo.Mvc.UI
@using MI.PIMS.UI.Common
@{
    ViewData["Title"] = "Duplicate Record Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/EPAL/Detail.css" asp-append-version="true"/>
<script src="~/js/EPAL/_DetailHeader_DuplicateRecord.js" asp-append-version="true"></script>
<script src="~/js/EPAL/Detail.js" asp-append-version="true"></script>
<script src="~/js/EPAL/DetailToolTips.js" asp-append-version="true"></script>

@{
    ViewData["PageType"] = @Roles.EPALReadWrite.ToString();
    ViewData["EPALPageView"] = @EPALPageView.DuplicateRecordDetail.ToString();
}

@if (Model != null)
{
    <div id="myOverlay"></div>
    <input id="duplicate-record" type="hidden" readonly value="@ViewBag.DuplicateRecord" />
    @Html.Hidden("epal-page-view", ViewData["EPALPageView"].ToString())
    <form id="duplicateForm">
        <div id="myOverlay"></div>
        <div style="height:100%" class="my-form-font">
            <div class="breadcrumb-background">
                <div class="container">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-background">
                            <li class="breadcrumb-item"><a>@Html.ActionLink("Home", "index", "/", new { Area = "" }, new { @class = "breadcrumb-item-font" })</a></li>
                            <li class="breadcrumb-item"><a>@Html.ActionLink("EPAL Search", "Index", "Home", new { Area = "EPAL" }, new { @class = "breadcrumb-item-font" })</a></li>
                            <li class="breadcrumb-item active" style="color: black !important; cursor: initial;" aria-current="page">Duplicate Record Detail</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <partial name="_DetailHeader_DuplicateRecord" model="Model" view-data="ViewData" />
            <partial name="_DetailTabs_AddNew" model="Model" view-data="ViewData" />
        </div>
        <br />
        <br />
    </form>
}

else
{
    <div class="container">
        <div style="height:100%" class="my-form-font">
            <partial name="_NoRecordsFound" />
        </div>
        <br />
        <br />
    </div>
}

<script>
    $(function() {
        // Log User Access Hist for the page and logged in user
        var pims_id = "@Model" != null ? "@Model.EPAL_HIERARCHY_KEY.ToStringNullSafe()": "";
                
        UserAccessHistController.add({
            "MODULE_NAME": "EPAL",
            "USERACTION": "EPAL/Home/DuplicateRecordDetail?pims_id=" + pims_id,
            "USERSELECTION": "EPAL/Home/DuplicateRecordDetail",
            "LST_UPDT_DT": null,
            "LST_UPDT_BY": MS_ID,
            "PAGE_ID": "4",
            "__RequestVerificationToken": $('meta[name="request-verification-token"]')[0].content

        });
    });
</script>