@model MI.PIMS.BO.Dtos.PayCode_Procedures_T_Dto
@using Kendo.Mvc.UI
@{
    ViewData["Title"] = "Pay Code - Change History";
}

<div class="container tab-section">
    <h5>
        Change History
    </h5>
    <hr />
    @if (@Model.IS_EDITABLE == true)
    {
        <div class="form-row my-row-padding">

            <div class="col-lg-6">
                <div>
                    <label for="txtChangeSource" class="text-lg-right text-sm-left col-form-label font-modal-weight required">Change Source (Limit 50 Character Max):</label>
                </div>
                <textarea class="form-control" data-toggle="tooltip" id="txtChangeSource" maxlength="50" name="txtChangeSource" rows="5" @((string)ViewData["PageType"] == @Roles.PayCodeReadOnly.ToString() ? "readonly='readonly'" : "")>@*@Model.CHANGE_REQ_ID*@</textarea>
            </div>

            <div class="col-lg-6">
                <div>
                    <label for="txtChangeDesc" class="text-lg-right text-sm-left col-form-label font-modal-weight required">Change Description (Limit 500 Character Max):</label>
                </div>
                <textarea class="form-control" data-toggle="tooltip" id="txtChangeDesc" maxlength="500" name="txtChangeDesc" rows="5" @((string)ViewData["PageType"] == @Roles.PayCodeReadOnly.ToString() ? "readonly='readonly'" : "")>@*@Model.CHANGE_DESC*@</textarea>
            </div>
        </div>
        <br />
    }   
    <form id="frmChangeHistory">
        <div class="form-row">
            <div class="form-group col-md-12">
                <div style="font-size:11px !important;">
                    @(Html.Kendo().Grid<MI.PIMS.BO.Dtos.PayCode_ChangeHistory_Dto>
                        ()
                        .Name("gridChangeHistory")
                        .Columns(c =>
                        {
                            c.Bound(p => p.CHANGEBY).Title("Change By").Filterable(false).HeaderHtmlAttributes(new { title = "Change By." }).HeaderHtmlAttributes(new { style = "text-align: center; font-weight:bold" }).HtmlAttributes(new { style = "text-align: center" }).Width(200);
                            c.Bound(p => p.CHANGEDATE).Title("Change Date").Filterable(false).HeaderHtmlAttributes(new { title = "The date the record was changed or initiated." }).HeaderHtmlAttributes(new { style = "text-align: center; font-weight:bold" }).HtmlAttributes(new { style = "text-align: center" }).Width(200);
                            c.Bound(p => p.CHANGESOURCE).Title("Change Source").Filterable(false).HeaderHtmlAttributes(new { title = "The source from which the change was requested." }).HeaderHtmlAttributes(new { style = "text-align: center; font-weight:bold" }).HtmlAttributes(new { style = "text-align: center" }).Width(200);
                            c.Bound(p => p.CHANGEDESCRIPTION).Title("Change Description").HeaderHtmlAttributes(new { title = "The description of the change that was performed to the record." }).Filterable(false).HeaderHtmlAttributes(new { style = "text-align: center; font-weight:bold" }).HtmlAttributes(new { style = "text-align: center" }).Width(200);
                            c.Bound(p => p.ChangeType).Title("Change Type").Filterable(false).HeaderHtmlAttributes(new { title = "The type of record that the change or entry was performed on in the system." }).HeaderHtmlAttributes(new { style = "text-align: center; font-weight:bold" }).HtmlAttributes(new { style = "text-align: center" }).Width(200);
                        })
                        .Resizable(resize => resize.Columns(true))
                        .HtmlAttributes(new { style = "height: 75%" })
                        .Sortable()
                        .NoRecords()
                        .Navigatable()
                        .Pageable(pageable => pageable
                        .Refresh(true)
                        .PreviousNext(true)
                        .Numeric(true)
                        )
                        .Scrollable()
                        .Selectable()
                        .Filterable()
                        .DataSource(dataSource => dataSource
                    .Ajax()
                    .PageSize(100)
                        .Read(read => read.Action("GetPayCodeChangeHistory", "Home", new { Area = "PayCodes" }).Data("PayCodeSummaryController.grid.param"))
                      ))
                </div>
            </div>
        </div>
    </form>
</div>



