
@inject MI.PIMS.UI.Services.MIAuthenticate.IMIAuthenticateService _miAuthenticateService
@inject MI.PIMS.UI.Common.Helper _helper
@model MI.PIMS.BO.Dtos.EPAL_Procedures_V_Dto
@using Kendo.Mvc.UI
@using MI.PIMS.UI.Common

@{
    var _UserInfo_T_Dto = (MI.PIMS.BO.Dtos.UserInfo_T_Dto)_miAuthenticateService.UserInfo_T_Dto(_helper.MS_ID);
    var s = _UserInfo_T_Dto.APP_ROLEIDS;
    string[] appRoles = s.Split(',');

}

<input type="hidden" id="EPAL_EXP_DT" class="EPAL_EXP_DT" value="@Model.OVERALL_EXP_DT"/>

<div class="container tab-section">
    <h5>
        EPAL Summary
    </h5>     
    <hr />
    <!-- Row 1 -->
    <div class="form-row my-row-padding">
        <label for="txtCodeStatus" class="col-lg-2 text-lg-right text-sm-left col-form-label font-modal-weight">Procedure Code Status:</label>
        <div id="divCodeStatus" class="col-lg-3" data-toggle="tooltip">
            @*<input type="text" data-toggle="tooltip" class="form-control" id="txtCodeStatus" value="@Model.PROC_CD_STATUS" readonly="readonly">*@
            <span style="height: 25px; display: inline-block; vertical-align: text-bottom; width: 100%; padding-top: 5px;" class="procedure-code-status label-tag-@(@Model.PROC_CD_STATUS == "Valid" ? "green": (@Model.PROC_CD_STATUS == null ? "": "red"))">@Model.PROC_CD_STATUS</span>
        </div>
        <div class="col-lg-3"></div>
        <div class="col-lg-2"></div>
    </div>
    <!-- Row 2 -->
    <div class="form-row my-row-padding">
        <label class="col-lg-2 text-lg-right text-sm-left col-form-label font-modal-weight">HCEMI Reporting Category:</label>
        <div class="col-lg-3">
            <input type="text"  data-toggle="tooltip" class="form-control" id="txtStandardCategory" value="@Model.STNDRD_SVC_CAT" readonly>
        </div>

        <label class="col-lg-2 text-lg-right text-sm-left col-form-label font-modal-weight">HCEMI Reporting Subcategory:</label>
        <div class="col-lg-3">
            <input type="text"  data-toggle="tooltip" class="form-control" id="txtStandardSubCategory" value="@Model.STNDRD_SVC_SUBCAT" readonly>
        </div>
    </div>
    <!-- Row 3 -->
    <div class="form-row my-row-padding">
        <label class="col-lg-2 text-lg-right text-sm-left col-form-label font-modal-weight @(String.IsNullOrEmpty(@Model.STNDRD_SVC_CAT) ? "required": "")"> Alternate Category: </label>
        <div class="col-lg-3">
            <input type="hidden" id="ddlAlternateCategoryOrignal" value="@Model.ALTRNT_SVC_CAT" />
            @*<input type="text"  data-toggle="tooltip" class="form-control" id="txtAlternateCategory" value="@Model.ALTRNT_SVC_CAT" readonly />*@
            @(Html.Kendo().DropDownList()
                .Name("ddlAlternateCategory")
                .DataTextField("CATEGORY")
                .DataValueField("EPAL_STATUS_CD")
                .OptionLabel("---Select Category---")
                .HtmlAttributes(new { style = "width: 100%" })
                //.Enable(Model.DRUG_NM.ToStringNullSafe().IndexOf("~") > -1 && ViewBag.EPALPageView == "EditDetail" ? false: true)
                //.Value(Model.ALTRNT_SVC_CAT)
                .Text(Model.ALTRNT_SVC_CAT)
                .Events(events => events.Change("DetailController.dropdown.ALTRNT_SVC_SUBCAT_Change").DataBound("DetailController.dropdown.ALTRNT_SVC_CATDataBound"))
                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                        read.Action("GetPIMSEPALCategoriesByProcCDDrugNM", "Home", new { Area = "EPAL" }).Data("DetailController.dropdown.param.ALTRNT_SVC_CAT");
                    });
                })
                )
            <input type="hidden" id="ddlAlternateCategory_hidden" value="@Model.ALTRNT_SVC_CAT" />
        </div>
        <label class="col-lg-2 text-lg-right text-sm-left col-form-label font-modal-weight">Alternate Sub Category:</label>
        <div class="col-lg-3">            
            <input type="hidden" id="ddlAlternateSubCategoryFirstLoadValue" value="@Model.ALTRNT_SVC_SUBCAT" />
            <input type="hidden" id="ddlAlternateSubCategoryOrignal" value="@Model.ALTRNT_SVC_SUBCAT" />
            @*<input type="text"  data-toggle="tooltip" class="form-control" id="txtAlternateSubCategory" value="@Model.ALTRNT_SVC_SUBCAT" readonly />*@
            @(Html.Kendo().DropDownList()                
                .Name("ddlAlternateSubCategory")
                .DataTextField("CATEGORY")
                .DataValueField("CATEGORY")
                .OptionLabel("---Select Sub Category---")
                .HtmlAttributes(new { style = "width: 100%" })
                //.Enable(String.IsNullOrEmpty(Model.ALTRNT_SVC_SUBCAT.ToStringNullSafe()) ? false : (Model.DRUG_NM.ToStringNullSafe().IndexOf("~") > -1 ? false: true))
                //.Enable(String.IsNullOrEmpty(Model.ALTRNT_SVC_CAT.ToStringNullSafe()) ? false : true)
                .Events(events => events.Change("DetailController.dropdown.ALTRNT_SVC_SUBCAT_Change").DataBound("DetailController.dropdown.ALTRNT_SVC_SUBCAT_DataBound"))
                .Value(Model.ALTRNT_SVC_SUBCAT)
                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                        read.Action("GetPIMSEPALCategoriesByProcCDDrugNM", "Home", new { Area = "EPAL" }).Data("DetailController.dropdown.param.ALTRNT_SVC_SUBCAT");
                    })
                    .ServerFiltering(true);
                })
                .AutoBind(false)
                .CascadeFrom("ddlAlternateCategory")
            )
        </div>

    </div>
    <!-- Row 4 -->
    <div class="form-row my-row-padding">
        <div class="col-lg-3"></div>
        <div class="col-lg-2"></div>

        <label id="lblPriorAuth" class="col-lg-2 text-lg-right text-sm-left col-form-label font-modal-weight">Prior Auth:</label>
        <div id="divPriorAuth" class="col-lg-3" data-toggle="tooltip">
                <input type="text" data-toggle="tooltip" class="form-control" readonly id="txtPriorAuth" name="txtPriorAuth" value="@Model.PRIOR_AUTH_IND">
        </div>   
    </div>
    <!-- Row 5 -->
    <div class="form-row my-row-padding">
        @if (@Model.PRIOR_AUTH_IND=="Yes") {
            <label for="dpPAEffectiveDate" id="lblPAEffectiveDate" class="col-lg-2 text-lg-right text-sm-left col-form-label font-modal-weight required">PA Effective Date:</label>
        }
        else
        {
            <label for="dpPAEffectiveDate" id="lblPAEffectiveDate" class="col-lg-2 text-lg-right text-sm-left col-form-label font-modal-weight">PA Effective Date:</label>
        }
 
       <div id="divPAEffectiveDate" class="col-lg-3" data-toggle="tooltip">            
            @(Html.Kendo().DatePicker()
                .Name("dpPAEffectiveDate")     
                .Min(Convert.ToDateTime("01/01/1900"))
                .Value(@Model.PRIOR_AUTH_EFF_DT)    
                .Format("MM/dd/yyyy")                
                .ParseFormats(new string[] {"MMddyyyy", 
                                            "MMddyy",
                                            "MM.dd.yyyy", 
                                            "MM.dd.yy",
                                            "MM.d.yyyy",
                                            "M.d.yy",
                                            "M.d.yyyy",
                                            "MM/dd/yyyy", 
                                            "MM/dd/yy",
                                            "MM/d/yyyy",
                                            "M/d/yy",
                                            "M/d/yyyy",
                                            "MM-dd-yyyy", 
                                            "MM-dd-yy",
                                            "MM-d-yyyy",
                                            "M-d-yy",
                                            "M-d-yyyy"
                                            })               
                //.Enable(((string)ViewData["PageType"] == @Roles.EPALReadOnly.ToString() ? false : true))
                .Enable((appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.EPALReadWrite))
                        || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.EPALAdmin))
                        || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.UMRAdmin))
                        || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.UMRReadWrite))
                        || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.CMPAdmin))
                        || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.CMPReadWrite))
                        || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.SuperAdmin))) ? true : false)
                .HtmlAttributes(new { style = "width: 100%", @class= "form-to-update", placeholder = "MM/dd/yyyy" })
            )
        </div>
        <label for="dpPAExpirationDate" class="col-lg-2 text-lg-right text-sm-left col-form-label font-modal-weight">PA Expiration Date:</label>
         <div id="divPAExpirationDate" class="col-lg-3" data-toggle="tooltip">
            <input type="hidden" id="dpPAExpirationDateOriginal" value="@Model.PRIOR_AUTH_EXP_DT" />
            @(Html.Kendo().DatePicker()
                .Name("dpPAExpirationDate")
                //.Min(String.IsNullOrEmpty(@Model.PRIOR_AUTH_EFF_DT.ToStringNullSafe()) ? "01/01/1900": Convert.ToDateTime(Model.PRIOR_AUTH_EFF_DT).AddDays(1).ToStringNullSafe())
                .Min(Convert.ToDateTime("01/01/1900"))
                .Value(@Model.PRIOR_AUTH_EXP_DT)                
                .Format("MM/dd/yyyy")
                .ParseFormats(new string[] {"MMddyyyy", 
                                            "MMddyy",
                                            "MM.dd.yyyy", 
                                            "MM.dd.yy",
                                            "MM.d.yyyy",
                                            "M.d.yy",
                                            "M.d.yyyy",
                                            "MM/dd/yyyy", 
                                            "MM/dd/yy",
                                            "MM/d/yyyy",
                                            "M/d/yy",
                                            "M/d/yyyy",
                                            "MM-dd-yyyy", 
                                            "MM-dd-yy",
                                            "MM-d-yyyy",
                                            "M-d-yy",
                                            "M-d-yyyy"
                                            })
            @*    .Enable(((string)ViewData["PageType"] == @Roles.EPALReadOnly.ToString() ? false : true))*@
                .Enable((appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.EPALReadWrite))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.EPALAdmin))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.UMRAdmin))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.UMRReadWrite))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.CMPAdmin))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.CMPReadWrite))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.SuperAdmin))) && @Model.PRIOR_AUTH_EFF_DT !=null ? true : false)
                .HtmlAttributes(new { style = "width: 100%", title = "", @class = "form-to-update", placeholder = "MM/DD/YYYY" })
            )
        </div>

    </div>
    <!-- Row 6 -->
    <div class="form-row my-row-padding">
        <div class="col-lg-3"></div>
        <div class="col-lg-2"></div>

        <label id="lblPreDetermination" class="col-lg-2 text-lg-right text-sm-left col-form-label font-modal-weight">Pre-Determination:</label>
        <div id="divPreDetermination" class="col-lg-3" data-toggle="tooltip">
            <input type="text" data-toggle="tooltip" class="form-control" readonly id="txtPreDetermination" name="txtPreDetermination" value="@Model.PRE_DET_IND">
        </div>   
    </div>
    <!-- Row 7 -->
    <div class="form-row my-row-padding">
        <label for="divPreDeterminationEffDate" class="col-lg-2 text-lg-right text-sm-left col-form-label font-modal-weight">Pre Determination Effective Date:</label>
        <div id="divPreDeterminationEffDate" class="col-lg-3" data-toggle="tooltip">
            @(Html.Kendo().DatePicker()
                .Name("dpPreDeterminationEffDate")                
                //.Min(String.IsNullOrEmpty(Model.PRIOR_AUTH_EXP_DT.ToStringNullSafe()) ? "01/01/1900": Model.PRIOR_AUTH_EXP_DT.ToStringNullSafe())
                .Min(Convert.ToDateTime("01/01/1900"))
                .Value(@Model.PRE_DET_EFF_DT)    
                .Format("MM/dd/yyyy")
                .ParseFormats(new string[] {"MMddyyyy", 
                                            "MMddyy",
                                            "MM.dd.yyyy", 
                                            "MM.dd.yy",
                                            "MM.d.yyyy",
                                            "M.d.yy",
                                            "M.d.yyyy",
                                            "MM/dd/yyyy", 
                                            "MM/dd/yy",
                                            "MM/d/yyyy",
                                            "M/d/yy",
                                            "M/d/yyyy",
                                            "MM-dd-yyyy", 
                                            "MM-dd-yy",
                                            "MM-d-yyyy",
                                            "M-d-yy",
                                            "M-d-yyyy"
                                            })               
            @*    .Enable(((string)ViewData["PageType"] == @Roles.EPALReadOnly.ToString() ? false : true))*@
                .Enable((appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.EPALReadWrite))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.EPALAdmin))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.UMRAdmin))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.UMRReadWrite))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.CMPAdmin))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.CMPReadWrite))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.SuperAdmin))) ? true : false)
                .HtmlAttributes(new { style = "width: 100%", @class = "form-to-update", placeholder = "MM/DD/YYYY" })
            )
        </div>
        <label for="divPreDeterminationExpDate" class="col-lg-2 text-lg-right text-sm-left col-form-label font-modal-weight">Pre Determination Expiration Date:</label>
         <div id="divPreDeterminationExpDate" class="col-lg-3" data-toggle="tooltip">
            <input type="hidden" id="dpPreDeterminationExpDateOriginal" value="@Model.PRE_DET_EXP_DT" />
            @(Html.Kendo().DatePicker()
                .Name("dpPreDeterminationExpDate")
                .Value(@Model.PRE_DET_EXP_DT)
                //.Min(String.IsNullOrEmpty(Model.PRE_DET_EFF_DT.ToStringNullSafe()) ? "01/01/1900" : String.IsNullOrEmpty(Model.PRE_DET_EFF_DT.ToStringNullSafe())? "": Convert.ToDateTime(Model.PRE_DET_EFF_DT).AddDays(1).ToStringNullSafe())
                .Min(Convert.ToDateTime("01/01/1900"))
                .Format("MM/dd/yyyy")
                .ParseFormats(new string[] {"MMddyyyy", 
                                            "MMddyy",
                                            "MM.dd.yyyy", 
                                            "MM.dd.yy",
                                            "MM.d.yyyy",
                                            "M.d.yy",
                                            "M.d.yyyy",
                                            "MM/dd/yyyy", 
                                            "MM/dd/yy",
                                            "MM/d/yyyy",
                                            "M/d/yy",
                                            "M/d/yyyy",
                                            "MM-dd-yyyy", 
                                            "MM-dd-yy",
                                            "MM-d-yyyy",
                                            "M-d-yy",
                                            "M-d-yyyy"
                                            })   
             @*   .Enable(((string)ViewData["PageType"] == @Roles.EPALReadOnly.ToString() ? false : true))*@
                .Enable((appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.EPALReadWrite))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.EPALAdmin))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.UMRAdmin))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.UMRReadWrite))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.CMPAdmin))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.CMPReadWrite))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.SuperAdmin))) && @Model.PRE_DET_EFF_DT !=null ? true : false)
                .HtmlAttributes(new { style = "width: 100%", @class = "form-to-update", placeholder = "MM/DD/YYYY" })
            )
        </div>
    </div>
    <!-- Row 8 -->
    <div class="form-row my-row-padding">
        <div class="col-lg-3"></div>
        <div class="col-lg-2"></div>

        <label id="lblAdvNotification" class="col-lg-2 text-lg-right text-sm-left col-form-label font-modal-weight">Advanced Notification:</label>
        <div id="divAdvNotification" class="col-lg-3" data-toggle="tooltip">
            <input type="text" data-toggle="tooltip" class="form-control" readonly id="txtAdvNotification" name="txtAdvNotification" value="@Model.ADV_NTFCTN_IND">
        </div>
    </div>
    <div class="form-row my-row-padding">      
        <label for="divAdvNotificationEffDate" class="col-lg-2 text-lg-right text-sm-left col-form-label font-modal-weight">Advanced Notification Effective Date:</label>
        <div id="divAdvNotificationEffDate" class="col-lg-3" data-toggle="tooltip">
            @(Html.Kendo().DatePicker()
                .Name("dpAdvNotificationEffDate")
                .Min(Convert.ToDateTime("01/01/1900"))
                .Value(@Model.ADV_NTFCTN_EFF_DT)
                .Format("MM/dd/yyyy")
                .ParseFormats(new string[] {"MMddyyyy",
                    "MMddyy",
                    "MM.dd.yyyy",
                    "MM.dd.yy",
                    "MM.d.yyyy",
                    "M.d.yy",
                    "M.d.yyyy",
                    "MM/dd/yyyy",
                    "MM/dd/yy",
                    "MM/d/yyyy",
                    "M/d/yy",
                    "M/d/yyyy",
                    "MM-dd-yyyy",
                    "MM-dd-yy",
                    "MM-d-yyyy",
                    "M-d-yy",
                    "M-d-yyyy"
                })
                .Enable((appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.EPALReadWrite))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.EPALAdmin))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.UMRAdmin))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.UMRReadWrite))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.CMPAdmin))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.CMPReadWrite))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.SuperAdmin))) ? true : false)
                .HtmlAttributes(new { style = "width: 100%", @class = "form-to-update", placeholder = "MM/DD/YYYY" })
                )
        </div>
        <label for="divAdvNotificationExpDate" class="col-lg-2 text-lg-right text-sm-left col-form-label font-modal-weight">Advanced Notification Expiration Date:</label>
        <div id="divAdvNotificationExpDate" class="col-lg-3" data-toggle="tooltip">
            <input type="hidden" id="dpAdvNotificationExpDateOriginal" value="@Model.ADV_NTFCTN_EXP_DT" />
            @(Html.Kendo().DatePicker()
                .Name("dpAdvNotificationExpDate")
                .Value(@Model.ADV_NTFCTN_EXP_DT)
                .Format("MM/dd/yyyy")
                .ParseFormats(new string[] {"MMddyyyy",
                    "MMddyy",
                    "MM.dd.yyyy",
                    "MM.dd.yy",
                    "MM.d.yyyy",
                    "M.d.yy",
                    "M.d.yyyy",
                    "MM/dd/yyyy",
                    "MM/dd/yy",
                    "MM/d/yyyy",
                    "M/d/yy",
                    "M/d/yyyy",
                    "MM-dd-yyyy",
                    "MM-dd-yy",
                    "MM-d-yyyy",
                    "M-d-yy",
                    "M-d-yyyy"
                })
                .Enable((appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.EPALReadWrite))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.EPALAdmin))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.UMRAdmin))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.UMRReadWrite))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.CMPAdmin))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.CMPReadWrite))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.SuperAdmin))) && @Model.ADV_NTFCTN_EFF_DT !=null ? true : false)
                .HtmlAttributes(new { style = "width: 100%", @class = "form-to-update", placeholder = "MM/DD/YYYY" })
             )
        </div>
    </div>
    <!-- Row 9 -->
    <div class="form-row my-row-padding">
        <div class="col-lg-3"></div>
        <div class="col-lg-2"></div>

        <label id="lblDrugReviewAtLaunch" for="txtDrugReviewAtLaunch" class="col-lg-2 text-lg-right text-sm-left col-form-label font-modal-weight ">Drug Review At Launch:</label>
        <div class="col-lg-3">
            <input type="text" data-toggle="tooltip" class="form-control" readonly id="txtDrugReviewAtLaunch" name="txtDrugReviewAtLaunch" value="@Model.DRUG_RVW_AT_LAUNCH_IND">
            @*@(Html.Kendo().DropDownList()
                .Name("txtDrugReviewAtLaunch")
                .DataTextField("VV_CD")
                .DataValueField("VV_CD_DESC")
                .OptionLabel("------")
                .HtmlAttributes(new { style = "width: 100%" })
                .Enable((appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.EPALReadWrite))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.EPALAdmin))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.UMRAdmin))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.UMRReadWrite))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.SuperAdmin))) ? true : false)
                .Value(Model.DRUG_RVW_AT_LAUNCH_IND)
                .Enable(false)
                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                        read.Action("GetPIMSValidValues", "Home", new { Area = "EPAL" }).Data("DetailController.dropdown.param.DRUG_RVW_AT_LAUNCH_IND");
                    })
                    .ServerFiltering(false);
                })                
            )*@
        </div>
    </div>
    <div class="form-row my-row-padding">
        <label for="divDRALEffDate" class="col-lg-2 text-lg-right text-sm-left col-form-label font-modal-weight">Drug Review At Launch Eff Date:</label>
        <div id="divDRALEffDate" class="col-lg-3" data-toggle="tooltip">
            @(Html.Kendo().DatePicker()
                .Name("dpDRALEffDate")
                .Min(Convert.ToDateTime("01/01/1900"))
                .Value(@Model.DRAL_EFF_DT)
                .Format("MM/dd/yyyy")
                .ParseFormats(new string[] {"MMddyyyy",
                    "MMddyy",
                    "MM.dd.yyyy",
                    "MM.dd.yy",
                    "MM.d.yyyy",
                    "M.d.yy",
                    "M.d.yyyy",
                    "MM/dd/yyyy",
                    "MM/dd/yy",
                    "MM/d/yyyy",
                    "M/d/yy",
                    "M/d/yyyy",
                    "MM-dd-yyyy",
                    "MM-dd-yy",
                    "MM-d-yyyy",
                    "M-d-yy",
                    "M-d-yyyy"
                })
                .Enable((appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.EPALReadWrite))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.EPALAdmin))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.UMRAdmin))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.UMRReadWrite))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.CMPAdmin))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.CMPReadWrite))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.SuperAdmin)))  ? true : false)
                .HtmlAttributes(new { style = "width: 100%", @class = "form-to-update", placeholder = "MM/DD/YYYY" })
                )
        </div>
        <label for="divDRALExpDate" class="col-lg-2 text-lg-right text-sm-left col-form-label font-modal-weight">Drug Review At Launch Exp Date:</label>
        <div id="divDRALExpDate" class="col-lg-3" data-toggle="tooltip">
            <input type="hidden" id="dpDRALExpDateOrignal" value="@Model.DRAL_EXP_DT" />
            @(Html.Kendo().DatePicker()
                .Name("dpDRALExpDate")
                .Value(@Model.DRAL_EXP_DT)
                .Format("MM/dd/yyyy")
                .ParseFormats(new string[] {"MMddyyyy",
                    "MMddyy",
                    "MM.dd.yyyy",
                    "MM.dd.yy",
                    "MM.d.yyyy",
                    "M.d.yy",
                    "M.d.yyyy",
                    "MM/dd/yyyy",
                    "MM/dd/yy",
                    "MM/d/yyyy",
                    "M/d/yy",
                    "M/d/yyyy",
                    "MM-dd-yyyy",
                    "MM-dd-yy",
                    "MM-d-yyyy",
                    "M-d-yy",
                    "M-d-yyyy"
                })
                .Enable((appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.EPALReadWrite))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.EPALAdmin))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.UMRAdmin))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.UMRReadWrite))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.CMPAdmin))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.CMPReadWrite))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.SuperAdmin))) && @Model.DRAL_EFF_DT != null ? true : false)
                .HtmlAttributes(new { style = "width: 100%", @class = "form-to-update", placeholder = "MM/DD/YYYY" })
             )
        </div>
    </div>
    <!-- Row 10 -->
    <div class="form-row my-row-padding">
        <label for="ddlPAMinAge" class="col-lg-2 text-lg-right text-sm-left col-form-label font-modal-weight">EPAL Requirement Min Age:</label> @*User Story 130954*@
        <div class="col-lg-3">
            @(Html.Kendo().DropDownList()
                .Name("ddlPAMinAge")
                .BindTo(new List<string>() {
                      "1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20",
                      "21","22","23","24","25","26","27","28","29","30","31","32","33","34","35","36","37","38","39",
                      "40","41","42","43","44","45","46","47","48","49","50","51","52","53","54","55","56","57","58",
                      "59","60","61","62","63","64","65","66","67","68","69","70","71","72","73","74","75","76","77",
                      "78","79","80","81","82","83","84","85","86","87","88","89","90","91","92","93","94","95","96",
                      "97","98","99",
                  })
                .OptionLabel("------")
                 .Value(@Model.PRIOR_AUTH_AGE_MIN)   
    @*            .Enable(((string)ViewData["PageType"] == @Roles.EPALReadOnly.ToString() ? false : true))*@
                .Enable((appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.EPALReadWrite))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.EPALAdmin))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.UMRAdmin))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.UMRReadWrite))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.CMPAdmin))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.CMPReadWrite))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.SuperAdmin))) ? true : false)
               .HtmlAttributes(new { style = "width: 100%", @class= "form-to-update" })

            )
        </div>
        <label for="dpPAMaxAge" class="col-lg-2 text-lg-right text-sm-left col-form-label font-modal-weight">EPAL Requirement Max Age:</label> @*User Story 130954*@
        <div class="col-lg-3">
            @(Html.Kendo().DropDownList()
                .Name("ddlPAMaxAge")
                .BindTo(new List<string>() {
                      "1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20",
                      "21","22","23","24","25","26","27","28","29","30","31","32","33","34","35","36","37","38","39",
                      "40","41","42","43","44","45","46","47","48","49","50","51","52","53","54","55","56","57","58",
                      "59","60","61","62","63","64","65","66","67","68","69","70","71","72","73","74","75","76","77",
                      "78","79","80","81","82","83","84","85","86","87","88","89","90","91","92","93","94","95","96",
                      "97","98","99",
                  })
                .OptionLabel("------")
                .Value(@Model.PRIOR_AUTH_AGE_MAX)            
          @*      .Enable(((string)ViewData["PageType"] == @Roles.EPALReadOnly.ToString() ? false : true))*@
                .Enable((appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.EPALReadWrite))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.EPALAdmin))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.UMRAdmin))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.UMRReadWrite))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.CMPAdmin))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.CMPReadWrite))
                || appRoles.Contains(Convert.ToString((int)MI.PIMS.UI.Roles.SuperAdmin))) ? true : false)
               .HtmlAttributes(new { style = "width: 100%", @class= "form-to-update" })
            )
        </div>
    </div>
    <!-- Row 6 -->
    @*<div class="form-row my-row-padding">
        @if (@Model.PRIOR_AUTH_IND=="Yes") 
        {
            <label id="lblProgramManagedBy" for="txtProgramManagedBy" class="col-lg-2 text-lg-right text-sm-left col-form-label font-modal-weight required">Program Managed By:</label>
        }
        else
        {
            <label id="lblProgramManagedBy" for="txtProgramManagedBy" class="col-lg-2 text-lg-right text-sm-left col-form-label font-modal-weight">Program Managed By:</label>
        }

        <div class="col-lg-3">
            @(Html.Kendo().DropDownList()
                .Name("ddlProgramManagedBy")
                .DataTextField("VV_CD")
                .DataValueField("VV_CD_DESC")
                .OptionLabel("------")
                .HtmlAttributes(new { style = "width: 100%" })
                .Enable(((string)ViewData["PageType"] == @Roles.EPALReadOnly.ToString() ? false : true))
                .Value(Model.PROG_MGD_BY)
                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                        read.Action("GetPIMSValidValues", "Home", new { Area = "EPAL" }).Data("DetailController.dropdown.param.PROG_MGD_BY");
                    })
                    .ServerFiltering(false);
                })                
            )
        </div>
        <label for="txtDelegatedUM" class="col-lg-2 text-lg-right text-sm-left col-form-label font-modal-weight">Delegated UM:</label>
        <div class="col-lg-3">            
            @(Html.Kendo().DropDownList()
                .Name("ddlDelegatedUM")
                .DataTextField("VV_CD")
                .DataValueField("VV_CD_DESC")
                .OptionLabel("------")
                .HtmlAttributes(new { style = "width: 100%" })
                .Enable(((string)ViewData["PageType"] == @Roles.EPALReadOnly.ToString() ? false : true))
                .Value(Model.DELEGATED_UM)
                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                        read.Action("GetPIMSValidValues", "Home", new { Area = "EPAL" }).Data("DetailController.dropdown.param.DELEGATED_UM");
                    })
                    .ServerFiltering(false);
                })                
            )
        </div>
    </div>*@
</div>
